@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
  margin: 0;
  /* font-family: "Amatic SC", cursive; */
  font-family: "Oswald", sans-serif, cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  font-size: 20px;
}

.textoBlanco li,
.textoBlanco a {
  color: #fff !important;
  text-decoration: none;
}
.amatic {
  font-family: "Amatic SC", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nav-option > a,
.textoBlanco .nonActive {
  transition: all 0.4s ease;
}
.nav-option > a:hover,
.textoBlanco .nonActive:hover {
  opacity: 0.9;
  transform: scale(1.4);
}
.tituloAU {
  font-family: "Yellowtail", cursive;
}
.descripcionAU {
  font-family: "Montserrat", sans-serif;
}
.card-option {
  width: 100%;
}
.cards {
  transition: all 0.4s ease;
  margin: 0;
}

.cards:hover {
  transform: scaleX(1.02);
  filter: brightness(75%);
  cursor: pointer;
}

.img-products {
  transition: transform 0.4s;
}

.img-products:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 23px;
  font-family: "Oswald", sans-serif, cursive;

}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 18px;
  margin-bottom: 0;
  font-family: "Oswald", sans-serif, cursive;

}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
  font-family: "Oswald", sans-serif, cursive;

}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
  font-family: "Oswald", sans-serif, cursive;

}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.7;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
  margin-top: 25px;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.8;
  font-size: 13px;
  margin-bottom: 0;
}

.form-style {
  font-size: 25px;
}

.form-style button {
  font-size: 25px;
  width: 100%;
}

.myCart {
  display: flex;
}

.admin-product-container {
  display: flex;
}

.admin-view-container {
  display: flex;
  flex-direction: column;
}
.admin-view-container > a {
  font-size: 30px;
  padding-left: 10%;
  padding-top: 5%;
  text-decoration: none;
  color: black;
  opacity: 0.7;
  width: 400px;
}

.admin-view-container > a:hover {
  transform: translate(0px);
  text-decoration: underline;
  font-size: 32px;
  opacity: 1;
}

.admin-table-container {
  margin: 3%;
}

.admin-table-button {
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
.admin-table-button:hover {
  text-decoration: underline;
  transform: scale(1.05);
  background-color: rgb(164, 159, 159);
}

.bi-trash-fill:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: red;
}

.vl {
  border-bottom: 1px solid black;
  width: 600px;
  margin: 5px 0;
  text-align: center;
}

.vl-true {
  border-bottom: 5px solid black;
  width: 600px;
  cursor: pointer;
}

.vl-false {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 600px;
  cursor: pointer;
}

.hover-product {
  background-color: rgba(0, 0, 0, 0.3);
}

/* .shop-counter {
  position: absolute;
}

.shop-counter > i {
  z-index: 2;
  color: #ffc134;
}

.shop-counter > p {
  z-index: 1;
  color: black;
} */

.numberCircle {
  font: 32px Arial, sans-serif;

  width: 1.8em;
  height: 1.8em;
  box-sizing: initial;

  background: #fff;
  border: 0.1em solid black;
  background-color: #ffc134;
  color: black;
  text-align: center;
  border-radius: 50%;

  line-height: 2em;
  box-sizing: content-box;
  font-size: 12px;
}
